body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  background-color: beige;

  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 300px;
}
